imgcat

# Created by https://www.gitignore.io/api/c

### C ###
# Prerequisites
*.d

# Object files
*.o

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.app
*.i*86
*.x86_64

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# End of https://www.gitignore.io/api/c
/autom4te.cache
/config.log
/config.status
/configure
config.mk
